@import "variables.css";

.planning-poker-button {
    background-color: var(--blue-color);
    color: white;
    cursor: pointer;
    margin: 10px auto;
    height: 75px;
    width: 100%;
    border-radius: 10px;
    font-size: larger;
}

.container {
    margin: auto 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#selected-score {
    font-size: 100px;
}