<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Planning Poker - Select</title>
    <meta name="description" content="">

    <!-- Import CSS -->
    <link rel="stylesheet" href="../css/styles.css">

    <!-- Import JS -->
    <script type="module" src="../src/score.js"></script>
</head>

<body>
    <!--<a href="javascript:history.back()">Back</a>-->
    <div class="container">
        <h1>Score</h1>
        <span id="selected-score"></span>
    </div>
</body>

</html>