<!doctype html>
<html class="no-js" lang="">

    <head>
        <meta charset="utf-8">
        <title>Planning Poker - Select</title>
        <meta name="description" content="">

        <!-- Import CSS -->
        <link rel="stylesheet" href="../css/styles.css">

        <!-- Import JS -->
        <script src="../src/select.js"></script>
    </head>

    <body>
        <div class="container">
            <h1 class="test">Select</h1>

            <button class="planning-poker-button" value="1">1</button>
            <button class="planning-poker-button" value="2">2</button>
            <button class="planning-poker-button" value="3">3</button>
            <button class="planning-poker-button" value="4">4</button>
            <button class="planning-poker-button" value="5">5</button>
            <button class="planning-poker-button" value="6">6</button>
        </div>
    </body>

</html>